.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    padding: 20px 16px;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;
    overflow-y: auto;
    display: none;

    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 180px;
        height: 240px;
        content: '';
    }

    &.is-open {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        fill: transparent;
        stroke: var(--color-primary-dark);      
        border: none;
        cursor: pointer;
    }

    &__logo {
        display: inline-block;
        fill: var(--color-brand);
        margin-left: 20px;
        margin-bottom: 32px;
    }

    &__list {
        display: flex;
        margin-left: 20px;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__link {
        color: var(--color-primary-dark);
        font-size: 14px;
        line-height: 1.5;
        text-decoration: none;

        &:hover {
        color: var(--color-brand);
        }
    }
}
